@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

:root {
    --darkBlue: #123588;
    --lightBlue: aliceblue;
}

* {
    font-family: 'Hubballi', cursive;
}